<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGxiL6fK9PLC6vqgnqQ1IRuJntwnH1olk</string>
	<key>GCM_SENDER_ID</key>
	<string>372238050338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.housing</string>
	<key>PROJECT_ID</key>
	<string>housing-app-f987d</string>
	<key>STORAGE_BUCKET</key>
	<string>housing-app-f987d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372238050338:ios:fb651b4b103ff093d4967b</string>
</dict>
</plist>